<%- include("header") -%>

<h2> This is the about page.</h2>
<p>Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Laboriosam voluptatibus 
    natus facere in amet ea culpa voluptas quidem 
    perspiciatis! Consequatur exercitationem porro 
    ab atque doloribus in enim quo non quibusdam.</p>

<%- include("footer") -%>
    